<header>

    <div id='nav1' class='nav'>

        <div class='nav-one'>
            <a href='#'>Troydreamville</a>
        </div>

        <div class='nav-two'>
            <a href='#'>Home</a>
            <a href='#'>Trade</a>
            <a href='#'>Transactions</a>
        </div>

        <div class='contain-nav-right'>

            <div class='nav-three'>
                <div><a href='#'>Buy</a></div>
                <div><a href='#'>Sell</a></div>
            </div>

            <div class='nav-four'>
                <div class='round-img'><img src="http://localhost:5000/dash/image/notif.svg" alt=""></div>
                <div><img onclick="showme()" src="http://localhost:5000/dash/image/avatar.jfif" alt=""></div>
                <div id='drop'>
                        <div><a>My profile</a></div>
                        <div><a>Logout</a></div>
                    </div>
            </div>
    
        </div>

    </div>

    <div id='nav2' class='mobile-nav'>
        <div class='mnav1'>
            <div class='start'><a href="#">Troydreamville</a></div>
            <div class='end'><a href='javascript:void(0)' onclick="openNav()">&#9776;</a></div>
        </div>
    </div>

    <!-- Mobile Side Nav -->
    <div id="myNav" class="overlay"> 
        <a style='color:white;text-decoration: none;' href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  
        
        <nav class="overlay-nav"> 
            <div class="side-nav">
                <div><a onclick="closeNav()" href="#">Home</a></div>
                <div><a onclick="closeNav()" href="#">Trade</a></div>
                <div><a onclick="closeNav()" href="#">Transaction</a></div>
                <div><a onclick="closeNav()" href="#">Notification</a></div>
                <div><a onclick="closeNav()" href="#">My Profile</a></div>
                <div><a onclick="closeNav()" href="#">Sign Out</a></div>
            </div>
        </nav>
    
    </div>

</header>

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script type="text/babel" src="http://localhost:5000/html/public_js/one.jsx"></script>
<script type="text/babel" src="http://localhost:5000/html/public_js/two.jsx"></script>

<div class='cont-for-bit'>

    <div class='profile-links'>
        <a id='bua' onclick="buy()" class='startt'>Buy Bitcoin</a>
        <a id='sua' onclick="sell()" >Sell Bitcoin</a>
    </div>

    <div class='cont-fcover' >

        <div class="cont-form">
            
            <div id='buy'></div>
            <div id='sell'></div>

        </div>
    </div>


    <!-- <div class="hows-cover">
        <div class='hows-head'>
            <h1>How to Buy</h1>

        <div class='hows-card'>
            <div>1. Make sure you fill all required fields in the <a href="#">trade info</a> part of your profile.</div>
            <div>2. If No. 1 above is not done transaction will not be initiated.</div>
            <div>3. Click Buy or Sell Bitcoin</div>
            <div>4. Lorem ipsum, dolor sit amet consectetur adipisicing elit Dolorum. </div>
            <div>5. Lorem ipsum, dolor sit amet consectetur adipisicing elit Dolorum. </div>
        </div>

    </div> -->


</div>

<script>

function buy() {

    document.getElementById('buy').style.display = 'block';
    document.getElementById('sell').style.display = 'none';
    document.getElementById('bua').style.color = '#ff9900';
    document.getElementById('sua').style.color = 'black';
    
}

function sell() {

    document.getElementById('bua').style.color = 'black';
    document.getElementById('sua').style.color = '#ff9900';
    document.getElementById('buy').style.display = 'none';
    document.getElementById('sell').style.display = 'block';
}

</script>
