
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800');

* {
    box-sizing: border-box;
    
}

body {
    font-family : 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    margin:0; 
    height: 100%;
    background-color: white;
    color: rgb(50, 58, 69);
}

html {
    height:100%;
} 

.header-for-logistics {
    overflow: hidden;
    height: 100%;
    background: url('../image/104.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color : white;
    background-color: rgba(0, 0, 0, 0.55);
    border : 0;
    margin: 0; 
}

.header-for-rr {
    overflow: hidden;
    height: 100%;
    background: url('../image/house1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color : white;
    background-color: rgba(0, 0, 0, 0.6);
    border : 0;
    margin: 0;
}

.header-content {
    max-width: 900px;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    animation-name: example;
    animation-duration: 1.2s;
}

@keyframes example {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.header-content > :nth-child(1) {
    padding: 14px 0;
    font-size: 1.65rem;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    color: white;
}

.log-ser-cont {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 10% 10% 5%;
}

.log-ser-head {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 2rem 0 ;
}

.log-ser-head > p {
    color: #233143;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
}

.log-ser-head > p:nth-of-type(2) {
    color: #233143;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
}

.log-ser-cov {
    display : flex;
    flex-direction: row;
    width: 100%;
}

.log-ser-card {
    margin-bottom: 32px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    width: 33.33%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1.5rem 1rem;
    margin-left: 2rem;
}

.log-ser-card3 {
    margin-bottom: 32px;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    width: 33.33%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding:0;
    margin-left: 2rem;
}

.containn {
    position: relative;
    width: 100%;
}
  
.containn > img {
    display: block;
    width: 100%;
    border-radius: 10px;
    filter: grayscale(12%);
    height: 220px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.07);
}
  
  /* The overlay effect - lays on top of the container and over the image */
.containn > p {
    position: absolute;
    bottom: 0;
    margin:0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:1;
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
  

.log-ser-card:first-of-type, .log-ser-card3:first-of-type {
    margin-left: 0;
}

.log-ser-card > h1 {
    font-weight: 400;
}
.log-ser-card > h3 {
    font-weight: 400;
}

.log-ser-card > p {
    font-weight: 400;
    font-size: 1.05rem;
    color: #727272;
    line-height: 1.7em;
}


.log-ser-cont2 {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 10%;
}

.log-ser-head2 {
    display: flex;
    flex-direction: column;
    text-align: left
}

.log-ser-head2 > h1 {
    color: #233143;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
}

.quote {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 8rem 0 2rem;
}

.quote > div {
    width: 33.33%;
    margin-left: 3rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.quote > div > div {
    display: flex;
    flex-direction: column;
}

.quote > div > div:last-of-type > p{
    padding-left: 1rem;
}

.quote > div:first-of-type {
    margin-left: 0;
}

.quote > div > div:first-of-type > i {
    color: #ddd;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.quote > div > div:last-of-type {
    padding-left: 1rem;
}

.quote > div > div:last-of-type > p:nth-of-type(1) {
    padding-top: 1rem ;
    font-weight: 400;
    font-size: 1.2rem;
    opacity: .75;
}
.quote > div > div:last-of-type > p:nth-of-type(2) {
    padding: .8rem 1rem;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    opacity: .75;
}
.quote > div > div:last-of-type > p:nth-of-type(3) {
    padding: .8rem 1rem;
    margin: 0;
    font-size: 1.05rem;
    font-weight: 500;
    font-size: 1rem;
    opacity: .75;
}

.story-cov {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 10% 10% 5%;
}

.story {
    max-width: 625px;
    display: flex;
    flex-direction: column;
}

.story > h1 {
    color: #233143;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 1rem;
}

.story > p {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.8em;
    margin: 0;
    margin-bottom: 20px;
}

.footer {
    opacity: .95;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
}

.middle {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10%;
}

.middle > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.middle > div > img {
    width: 27px;
    height: 27px;
    margin-right: 1rem;
}

.kspan {
    font-size: 1.4rem;
    font-weight: 600;
    opacity: .75;
}

.middle > div > h1 > a, .middle > div > p > a {
    text-decoration: none;
    color: inherit;
}

.middle > div > h1 {
    font-size: 1.45rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.middle > div > p {
    font-weight: 500;
    font-size: 1.05rem;
    letter-spacing: .02rem;
    opacity: .65;
}

.right-middle {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.real-middle {
    display: flex;
    width: 49%;
    flex-direction: column;
}

.real-middle > h1 {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.real-middle > h1 > a, .real-middle > p > a {
    text-decoration: none;
    color: inherit;
}

.real-middle > p {
    font-weight: 500;
    letter-spacing: .02rem;
    font-size: 1.05rem;
    opacity: .65;
    margin: 0;
    line-height: 2.5;
}

.real-right {
    width: 49%;
}

.real-right > h1 > a, .real-right > p > a {
    text-decoration: none;
    color: inherit;
}

.real-right > p {
    font-weight: 500;
    letter-spacing: .02rem;
    font-size: 1.05rem;
    opacity: .65;
    margin: 0;
    line-height: 2.5;
}

.real-right > h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.fter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.fter > p {
    opacity: .65;
    font-weight: 500;
    line-height: 2.5;
    margin: 0;
}

.hire > div {
    background-color: rgb(255, 227, 172);
    color: #353535;
    padding: 1.5rem 10%;
}

.hire > div > :nth-child(1) {
    font-size: 1.7rem;
    font-weight: 500;
    margin:0;
    padding: .5rem 0;
}

.hire > div > :nth-child(2) {
    font-size: 1.15rem;
    margin:0;
    padding: .5rem 0;
    font-weight: 400;
}

.header-log-portfolio {
    height: auto;
    background: url('../image/104.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color : white;
    background-color: rgba(0, 0, 0, 0.55);
    border : 0;
    margin: 0;
}

.header-content-port {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: example;
    animation-duration: 1.2s;
}

@keyframes example {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.header-content-port > :nth-child(1) {
    padding: 5rem 5rem;
    font-size: 1.85rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: left;
    color: white;
    text-align: center;
}

.cv {
    display: flex;
    flex-direction: column!important;
}

.cv > label {

    font-weight: 400;
    padding: 0 0 1rem;
    
}

.lmk {
    width: 80%;
    margin:  auto;
    padding: 5rem 0;
}

.lmk > p {
    font-weight: 400;
    font-size: 1.2rem;
    opacity: 0.75;
}

.lmk > p > span {
    font-weight: 500;
    opacity: 1!important;
}

.next {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-left: 5rem;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

.p {
    padding: 1rem 1rem 1rem 0!important;
}

.next > div {
    padding: 1rem ;
}

.next > div > a {
    text-decoration: none;
    color: #2c2c2c;
}

.nextcov {
    padding: 5% 0;
}

.nextcont {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 5rem;
}

.nexth {
    color: #233143;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 1rem;
}

.img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.img > div {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    margin-bottom: 3rem;
    width: 35%;
}

.img > div:nth-of-type(2), .img > div:nth-of-type(4) {
    margin-right: 0;
}

.img > div > div {
    border-radius: 0 0 10px 10px;
    color: red;
}

.img > div > img {
    flex: 1 1 auto;
    width: 100%;
    filter: grayscale(55%);
    height: 280px;
    border-radius: 10px 10px 0 0;
}

.img > div:hover {
    filter: grayscale(0%);
    cursor: pointer;
}



.footer1 {
    background-color: rgba(255, 227, 172);
    border:none;
    margin:0;
    color: #2c2c2c;
    padding-top:44px;
    padding-bottom: 12px;
    text-align: center;
    display: block;
}

.footer1 > p {
    font-size: 1.1rem;
    font-weight: 500;
    opacity: .85;
}

.footer1-div {
    margin: 0;
    font-size: 24px;
}

.footer1-div  > a > i {
    cursor:pointer;
    padding-left:4px;
    color: #2c2c2c
}

.cont-cover {
    width: 80%;
    margin: 5% auto;
    padding: 2rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.cont-form > div {
    display: flex;
    padding: 2rem 1rem;
    flex-direction: row;
}


.sds {
    flex-direction: row!important;
}

.sds > button {
    padding: .9rem 1.5rem;
    border-radius: .4rem;
    color: white;
    font-weight: 600;
    background-color: #fd7e14;
    border: none;
    outline: none;
}


.cont-form > div > textarea {
    
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-weight: 400;
    font-size: .9rem;
    font-family: 'Poppins';
    opacity: .9;
    min-height: 13rem;
    line-height: 1.6;
    color: #333;
    background:rgb(255, 255, 255);
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .4rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cont-form > div > input {
    display: block;
    width: 100%;
    max-width: 600px;
    font-family: 'Poppins';
    opacity: .9;
    height: calc(2em + 1.5rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.6;
    color: #333;
    background:rgb(255, 255, 255);
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .4rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.cont-form > div > input:focus, .cont-form > div > textarea:focus {
    outline: none;
    color: #1e2022;
    opacity: 1;
    font-family: 1.1rem;
    background:rgb(255, 255, 255);
    background-color: white;
}

.cont-form > div > input:first-of-type {
    margin-right: 1rem;
}

.headdz {
    text-align: center;
}

.headdz > h1 {
    color: #233143;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 1rem;
}


.header-content-real {
    overflow: hidden;
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-name: example;
    animation-duration: 1.2s;
}

@keyframes example {
  0% {margin-top: 50%;opacity: 0;}
  100% {margin-top: 0;opacity: 1;}
}

.header-content-real > div:first-of-type {
    font-size: min(2em + 1vw, 2.1rem);
    font-weight: 600;
    color: white;
    padding-top: 1rem ;
    line-height: 1.6;
}

.header-content-real > div:nth-of-type(2) {
    font-size: 1.25rem;
    font-weight: 600;
    opacity: .85;
    letter-spacing: .02rem;
    line-height: 1.7;
}
.bad {
    display: flex;
}

.bad > a {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 12px 28px;
    border: 1px solid #fff;
    background-color: #fff;
    text-decoration: none;
    color : #2c2c2c;
    border-radius: 8px;
    margin-top: 1.5rem;
}

.now-cov {
    background-color: rgb(255, 227, 172);
}

.now-cen {
    display: flex;
    height: auto;
    margin: 0 auto;
    padding: 2rem 0;
    width: 700px;
    flex-direction: column;
    text-align: center;
}

.now-cen > h1 {
    font-weight: 600;
    margin : 0;
    padding: 1.5rem 0;
    font-size: 1.2rem;
}

.now-cen > p {
    font-weight: 400;
    margin : 0;
    padding: 1rem 0 1.5rem;
    font-size: 1.1rem;
    line-height: 1.7;
}

.now-cen > div {
    padding: 2rem 0;
}

.now-cen > div > a {
    width: auto;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 12px 28px;
    border: 1px solid #fff;
    background-color: #fff;
    text-decoration: none;
    color : #2c2c2c;
    border-radius: 8px;
    margin-top: 1.5rem;
}

.quest {
  padding: 5% 10%;
  margin: 0 auto;
}

.quest-one {
  margin-bottom: 4rem;
}

.quest-one > h1 {
  font-size : 30px;
  font-weight: 600;
  margin: 0;
  line-height: 1.7;
}

.quest-one > p {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.7;
}

.quest-two {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.two-two {
  width: 25%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.two-one {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-right: 2rem;
}

.two-one > div:nth-of-type(1) > h1 {
  font-weight: 500;
  font-size: 27px;
}
.to-a {
  display: flex;
  padding: .5rem 0;
}
.to-a > input {
  display: block;
  opacity: .9;
  width: 100%;
  height: calc(2em + 1.2rem + 2px);
  padding: .375rem .75rem;
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.6;
  background:rgb(255, 255, 255);
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #e1e1e1;
  border-radius: .3rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.to-aa {
  display: flex;
  padding: .5rem 0;
}

.to-aa > input {
  display: block;
  width: 50%;
  opacity: .9;
  height: calc(2em + 1.2rem + 2px);
  padding: .375rem .75rem;
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.6;
  background:rgb(255, 255, 255);
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #e1e1e1;
  border-radius: .3rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.to-aa > input:first-of-type {
  margin-right: .5rem;
}

.to-b {
  display: flex;
  padding: .5rem 0;
}

.to-b > textarea {
  display: block;
  width: 100%;
  opacity: .9;
  height: 15rem;
  padding: .375rem .75rem;
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.6;
  background:rgb(255, 255, 255);
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #e1e1e1;
  border-radius: .3rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.to-a > input:focus , .to-aa > input:focus , .to-b > textarea:focus {
  outline: none;
  opacity: 1;
  background:rgb(255, 255, 255);
  background-color: white;
}

.tto-b > button {
  outline: none;
  background-color : #fd7e14;
  color: white;
  border: medium none;
  box-shadow: inherit;
  color: #ffffff;
  font-family: 'Poppins';
  display: inline-block;
  font-weight: 600;
  margin-top: 20px;
  padding: 10px 35px;
  text-transform: uppercase;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
  line-height: 1.8;
  font-size: 14px;
}

.tto-b > button > i {
  padding-left: 4px;
  color: white!important;
}

.two-two > div > h3 {
  font-weight: 600;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 15px;
  text-transform: uppercase;
  z-index: 1;
}

.two-two > div > p {
  padding:0;
  margin: 0;
  line-height: 1.8;
}
 
.opa {
    margin-top: 2rem
}

/* startt ix.css */

.covved {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 32px 4rem;
    margin: 0 auto;
}

.covver {
    width: 50%;
}

.pic-v {
    display: flex;
    flex-direction: row;
    margin-left: 8.3%;
    width: 50%;
}

.pic {
    width: 100%;
    height: 100%;    
    box-shadow: 0 .5rem 1.5rem rgba(22,28,45,.1)!important;
    border-radius: .375rem;
}

.pic-v1 {
    margin-right: 32px;
    margin-top: 32px;
}

.pic-small {
    height: 208px;
    width: 248px;
    margin-bottom: 64px;
}

.pic-medium {
    height: 199px;
    width: 248px;
}

.pic-large {
    margin-top: 64px;
    height: 328px;
    width: 248px;
}

.text-1 {
    letter-spacing: .08em;
    text-transform: uppercase;
    font-size: .75rem;
    margin-bottom: 1rem;
    font-weight: 400;
    padding: .25rem .75rem;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block;
    border-radius: 64px;
}

.blue-bg {
    background-color: rgba(51,94,234,.1);
    color: #335eea;
}

.blue {
    color: #335eea;
}

.green-bg {    
    background-color: rgba(66,186,150,.1);
    color: rgb(66, 186, 150)
}

.green {
    color: rgb(66, 186, 150)
}

.text-2 {
    margin-bottom: 1rem;
}

.text-2 > h2 {
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: -.01em;
    font-size: 1.75rem;
    margin: 0;
}

.text-2 > h2 > span {
    display: block;
}

.text-2 > h2 > span > span {
    color: #48465b;
}

.text-3 > p {
    color: #506690;
    font-size: 1.175rem;
    font-weight: 400;
    padding-right: 20px;
}

.line-cov {
    margin-bottom: .5rem;
    display: flex;
}

.left {
    align-items: center;
    display: flex;
}

.left > i {
    padding : .45rem;
    border-radius: 36px;
    margin-right: 1rem;
    font-size: .8rem;
}

.left > p {
    font-size: .9rem;
}

.right {
    margin-left: auto;
}

video {
    width: 100%;
    height: 100%;
}

.real-v {
    margin-right: 8.3%;
    flex: 1 1 41.6%;
    max-width: 41.6%;
}

.upas {
    height: 490px;
    max-height: 490px;
    transform: rotate(-5deg)
}

.text-5 > a {
    padding-right: 16px;
    text-decoration: none;
}

.covver-2 {
    width: 50%;
}

.pic-11{
    width: 203px;
    height: 118px;
    margin: 32px 16px;
    border-radius: 1.35rem;
    box-shadow: 0 .5rem 1.5rem rgba(22,28,45,.1)!important;
    filter: grayscale(40%);
}

.sla{
    transform: rotate(-5deg);
}

.als{
    transform: rotate(5deg);
}

.lat {
    margin-top: 64px;
}

.haed-cvo {
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 100%;
    overflow-x: hidden;
}

.haed-on {
    width: 50%;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem ;
}

.haed-on > h1 {
    font-size: 1.9rem;
    line-height: 1.2;
    letter-spacing: -.02em;
    font-weight: 400;
    color: #262c3d;
    margin: 0;
    padding: 1rem 0;
}

.haed-on > p {
    font-size: 1.1875em;
    font-weight: 400;
    line-height: 1.7em;
}

.haed-on > div {
    padding-top: 1rem;
}

.haed-on > div > a {
    text-decoration: none;
    padding: .65rem 1.15rem;
    margin-top: 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(22,28,45,.1)!important;
    color: #48465b;
    border-radius: 36px;
}

.haed-on > div > a > i { 
    padding-left: 8px;
}

.haed-tw {
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slideshow-example {
    width: 50%;
}

[data-component="slideshow"] .slide {
    display: none;
}

[data-component="slideshow"] .slide.active {
    display: block;
}

#nz {
    
    animation-name: nz;
    animation-duration: 1.5s;
}

@keyframes nz {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.haed-tw > img {
    max-width: 100%;
    max-height: 100%;

}

.nav-first {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    height: 15%;
}

.nav-first > div > a {
    color: #48465b;
    text-decoration: none;
}

.nav-first > div > span >  a {
    color: #48465b;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
}

.log-two {
    display: flex;
    padding-right: 5rem;
    margin-left: auto;
}

.log-two > a {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .04rem;
    padding-left: 3rem;
}

.log-two > a:first-of-type {
    padding-left: 0;
}

#drop {
    display: none;    
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    width: 270px;
    box-shadow: 0px 8px 16px 0px rgba(160, 124, 124, 0.1);
    z-index: 99;
    top: 4.5rem;
    right: 1rem;
}

#drop > div {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #f2f2f2;
    opacity: .8;
}

#drop > div  > a{
    color: black;
    text-decoration: none;
}

#drop > div  > a > i{
    padding-right: 1rem;
}

.show {
    display: flex!important;
}

.log-one {
    padding-left: 4rem;
}

.log-one > a{
    font-size: 1.5rem;
    font-weight: 500;
}

.howl-z {
    height: 100%;
    width: 100%;
}

.howl-z:after {
    content: "";
    display: table;
    clear: both;
}

.story-cov:after {
    content: "";
    display: table;
    clear: both;
}


#nav-small {
    display: none!important;
}
 
.sxa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 8.3%;
    width: 50%;
}

@media (max-width: 3000px) and (min-width: 780px) {
    .overlay {
        display: none!important;
    }
}    


@media only screen and (max-width: 1080px) { 
.haed-on {
    width: 55%;
}
#slideshow-example {
    width: 45%;
}

.sxa {
    width: 45%;
    margin-left: 0;
    padding-right: 16px;
}

.text-2 > h2 {
    font-size: 1.5rem;
}
.text-3 > p {
    font-size: 1.05rem;
}
.pic-v1 {
    margin-right: 4%;
}
.pic-large {
    height: auto;
    width: 100%;
}
.pic-small {
    height: auto;
    width: 100%;
}
.pic-medium {
    height: auto;
    width: 100%;
}
}

@media only screen and (max-width: 992px) { 

.nz {
    padding-right: 16px;
    width: 100%;
}

.sxa {
    width: 45%;
    display: flex;
}

.haed-cvo {
    max-width: 960px;
}

.log-one {
    padding-left: 2rem;
}

.haed-on {
    width: 55%;
    padding: 0 2rem ;
}

.haed-on > h1 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 0 0.5rem;
}

.haed-on > p {
    font-size: 1.1em;
}

.haed-on > div > a > i { 
    padding-left: 8px;
}

#slideshow-example {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#myNav {
    display: none;
}

.millk {
    float:right;
    height: 100%;
    width:auto;
    display: block;
    margin-top: 7px;
    padding-right:7px;
}

.millk:hover {
    color: #fd9800;
}

#myNav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
}

.overlay-nav {
    position: relative;
    top: 15%;
    width: 100%; 
    text-align: center;
    margin-top: 5%;
}
  
.side-nav > div {
    padding: 6%;
    text-decoration: none;
    font-size: 1rem;
    color: #f8f8f8;
    display: block;
    transition: 0.7s;
  }
  

.side-nav > div:hover, .side-nav > div:focus {
    color: #ff9800;
}

.side-nav > div a {
    text-decoration: none;
    color: white;
}

#myNav .closebtn {
    position: absolute;
    top: 5px;
    right: 45px;
    margin: 0;
    font-size: 47px;
}

.closebtn:hover {
    color: #ff9800;
}


#nav-first {
    display: none!important;
}

#nav-small {
    display: flex!important;
    padding: 1.5rem 2rem;
}

#nav-small > div > a {
    text-decoration: none;
    color: #262c3d;
    font-size: 1.2rem;
    font-weight: 500;
}

#nav-small > div:last-of-type {
    margin-left: auto;
} 

#myNav {
    display: none;
}
.pic-11 {
    width: 163px;
    height: 108px;
    margin: 32px 8px;
}
.real-v {
    margin-right: 8.3%;
    flex: 1 1 50%;
    max-width: 50%;
}
}


@media only screen and (max-width: 767px) { 


.howl-z {
    height: auto;
    margin-bottom: 32px;
}

.nz {
    padding-right: 0;
}

.sxa {
    max-width: 100%;
    display: flex;
    order: 1;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 2rem;
    margin-left: 0;
}

.pic {
    width: 100%;
    height: 100%;    
    box-shadow: 0 .5rem 1.5rem rgba(22,28,45,.1)!important;
    border-radius: .375rem;
}

.pic-v1 {
    margin-right: 0;
    margin-top: 32px;
    transform: translate(0, -18px);
}

.pic-small {    
    height: auto;
    width: 100%;
    transform: translate(-46px, -15px);
    margin-bottom: 64px;
    max-width: 220px;
}

.pic-medium {
    height: auto;
    max-width: 220px;
    width: 100%;
    transform: translate(-45px, 0px);
}

.pic-large {
    margin-top: 64px;
    height: auto;
    width:100%;
    max-width: 220px;
}


.haed-tw > img {
    max-width: 100%;
    height: 260px;
    max-width: 370px;
}

.haed-tw {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slideshow-example {
    max-width: 100%;
    display: flex;
    order: 1;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 2rem;
}

.haed-on {
    width: 100%;
    order: 2;
    padding: 2rem;
    justify-content: normal;
}

.haed-cvo {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.haed-on > h1 {
    font-size: 1.35rem;
}

.covved {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: normal;
    align-items: normal;
    padding: 32px 2rem;
    margin: 0 auto;
}

.covver-2 { 
    width: 100%;
}

.pic-v {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
    width: 100%;
    padding: 32px 0;
}

.pic-11 {
    width: 100%;
    height: 113px;
    margin: 0;
    padding: 8px;
    max-width: 203px;
    border-radius: 0;
    box-shadow: none !important;
    filter: grayscale(40%);
}

.text-2 > h2 {
    font-size: 1.35rem;
    font-weight: 400;
}

.real-v {
    margin-right: 0;
    flex: none;
    max-width: 100%;
    width: 100%;
    margin: 32px 0 48px;
}

.upas {
    height: 406px;
    width: 100%;
    transform: rotate(4deg);
}

.text-3 > p {
    font-size: 1.05rem;
    line-height: 1.8;
}

}


@media only screen and (max-width: 780px) {

.now-cen > h1 {
    font-size: 1.05rem;
}

.now-cen > p {
    font-size: .95rem;
}

.now-cen > div > a {
    font-size: 1.1rem;
}


.loas {
    display: none;
}

.log-ser-head > p:nth-of-type(2) {
    line-height: 1.6;
    margin: 1rem 0;
}


.quest {
  padding: 10%;
}

.quest-one {
  margin-bottom: 2rem;
}

.quest-one > h1 {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.quest-one > p {
    
  font-size: .95rem;
}

.quest-two {
  flex-direction: column;
}

.two-one > div:nth-of-type(1) > h1 {
    font-size: 22px;
    text-transform: capitalize;
}

.to-aa {
  flex-direction: column;
}

.to-aa > input {
  width : 100%;
}

.to-aa > input:first-of-type {
  margin-right: 0;
  margin-bottom: 1rem;
}

.two-one {
  width: 100%;
  padding-right: 0;
  padding-bottom: 4rem;
}

.two-two {
  width: 100%;
}

.two-two > div {
  padding-bottom: 2rem;
}

.now-cen {
    padding: 2rem 1rem;
    width: 100%;
}

.header-content-real {
    padding: .5rem;
    height: 100%;
  
}

.header-content-real > div:first-of-type {
    font-size: 1.55rem;
    font-weight: 600;
    color: white;
    line-height: 1.4;
    margin-bottom: 1.3rem;
}

.header-content-real > div:nth-of-type(2) {
    font-size: 1.1rem;
    font-weight: 500;
    opacity: 1;
    line-height: 1.6;
}

.lmk {
    width: 90%;
}

.lmk > p {
    font-style: italic;
    line-height: 1.8;
    font-size: 1rem;
}

.cv {
    padding: 2rem 0 !important;
}

.cont-cover {
    width: 90%;
    padding: 1rem;
    margin: 10% auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.07);
}

.cont-form > div {
    padding: 0;
    flex-direction: column;
}

.cont-form > div > input {
    margin: 1rem 0;
}

.cont-form > div > textarea {
    margin : 1.5rem 0;
}

.cont-form > div > button{     
    margin-bottom: 1.5rem;
}

.opa {
    font-size: .9rem;
}

.next {
    padding-left: 1rem;
}

.next > div {
    padding: 1rem .5rem ;
}

.footer {
    opacity: .95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
}

.middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10%;
}

.right-middle {
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
}

.real-middle {
    display: flex;
    width: 49%;
    flex-direction: column;
}

.real-right {
    width: 49%;
}

.fter {
    text-align: center;
}

.middle > div > img {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

.kspan {
    font-weight: 600;
    opacity: .75;
}

.middle > div > h1 {
    font-size: 1.25rem;
}

.middle > div > p {
    font-size: .9rem;
}


.real-middle > h1 {
    font-size: 1.15rem;
}

.real-middle > p {
    font-size: .9rem;
}

.real-right > p {
    font-size: .9rem;
}

.real-right > h1 {
    font-size: 1.15rem;
}

.fter > p {
    font-size: .85rem; 
    line-height: 1.8;
    margin: 0;
}


.quote {
    flex-direction: column;
}

.quote > div {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100%;
    margin-left: 0;
}

.quote > div:first-of-type {
    margin-top: 1.5rem;
}

.quote > div > div:first-of-type > i {
    font-size: 2.25rem;
}

.quote > div > div:last-of-type > p:nth-of-type(1) {
    font-size: 1rem;
}
.quote > div > div:last-of-type > p:nth-of-type(2) {
    
    font-size: .85rem;
    
}
.quote > div > div:last-of-type > p:nth-of-type(3) {
    font-size: .85rem;
}

.log-ser-cov {
    flex-direction: column;
}

.log-ser-card, .log-ser-card3 {
    margin-left: 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.065);
}

.log-ser-head2 > h1{
    color: #233143;
    font-size: 25px;
    font-weight: 600;
} 

.header-content > :nth-child(1) {
    padding: 14px;
    font-size: 1.15rem;
    text-align: justify;
    font-weight: 500;
    text-align: center;
    line-height: 1.7;
    letter-spacing: .02rem;
    color: white;
}

.header-content {
    height: 100%;
}

.hire > div > :nth-child(1) {
    font-size: 1.15rem;
}

.hire > div > :nth-child(2) {
    font-size: .9rem;
}

.bad > a {
    font-size: 1.15rem;
}

.story > h1 {
    color: #233143;
    font-size: 22px;
    font-weight: 600;
}

.story > p {
    font-size: 1rem;
}

.log-ser-head2 > h1{
    color: #233143;
    font-size: 22px;
    font-weight: 600;
} 

.log-ser-head > p {
    font-size: 22px;
    font-weight: 600;
}

.log-ser-card > h1, .log-ser-card3 > h1 {
    font-size: 20px;
}

.log-ser-card > p, .log-ser-card3 > p {
    font-size: .85rem;
}

.log-ser-card > span > a {
    font-size: .95rem;
}

.header-content-port > :nth-child(1) {
    font-size: 1.7rem;
}

.next > div > a , .next > div > i{
    font-size: 0.9rem;
}

.headdz > h1 {
    font-size: 22px;
    font-weight: 600;
}

}